.header {
  padding: 14px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
}

.header--logo {
  align-items: center;
}

.header--logo img {
  max-width: 193px;
}

.header ul {
  margin-bottom: 0;
  list-style-type: none;
}

a {
  color: #111;
}

.header--menubar {
  justify-content: flex-end;
}

.header .header--menubar ul {
  list-style: none;
  width: 100%;
  padding-left: 0;
}

.header .header--menubar ul li {
  display: inline-block;
  margin-right: 32px;
}

.header .header--menubar .mega-menu .sub-menu li {
  display: inline-block;
  margin-right: 0;
  border-bottom: 0;
  padding-bottom: 15px;
  width: 100%;
}

.header .header--menubar ul li a {
  font-size: 18px;
  font-weight: 600;
}

.title {
  border-bottom: 2px solid #669900;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.header .header--menubar ul li:last-child {
  margin-right: 0;
}

.header .header--menubar .mega-menu .sub-menu li ul li {
  padding-bottom: 5px;
  text-align: left;
  line-height: 18px;
  display: block;
}

.header .header--menubar .mega-menu .sub-menu li a {
  color: #111;
  display: inline-block;
  position: relative;
}

.header .header--menubar ul li.btn a {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}

.header .header--menubar .mega-menu .sub-menu li ul li a {
  font-size: 14px;
  font-weight: 400;
}

.header .header--menubar .mega-menu {
  position: absolute;
  margin: 0 auto;
  width: 90%;
  top: 86px;
  left: 0;
  right: 0;
  z-index: 4;
  display: none;
}

.header .header--menubar .mega-menu .menu-bg {
  background: #fff;
  padding: 40px 30px 35px 46px;
  margin-top: -1px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 transparent, 0 2px 2px rgba(0, 0, 0, 0.3);
}

.header .header--menubar ul li.btn {
  width: 141px;
}

.btn {
  color: #fff;
  background-color: #d60e96;
  border-color: #d60e96;
  border-radius: 5.5rem;
}

.header .header--menubar ul li.open {
  border-color: #72a037;
}

.header .header--menubar ul li.open .mega-menu {
  display: block;
}

.header .header--menubar .mega-menu .sub-menu {
  height: 100%;
  text-align: left;
}

.header .header--menubar .mega-menu .sub-menu.card-columns {
  padding-left: 15px;
  margin-top: -6px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}

.header .header--menubar ul li.btn .dropdown a {
  color: #111;
}

/* Hamburger Menu */

.menu-hamburger {
  right: 22%;
  margin-left: 8%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-hamburger span {
  width: 30px;
  height: 4px;
  background: #3d5d6f;
  display: block;
  margin-bottom: 4px;
}

.menu-hamburger span:nth-child(2) {
  background-color: #d60e96;
}

.nav-sidenav {
  background-color: #111;
}

.nav-sidenav ul li {
  display: block;
}

/* Media Queries */

@media (min-width: 1230px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1200px) {
  .header .header--menubar {
    padding-left: 0;
  }
}

@media (max-width: 1469px) and (min-width: 1200px) {
  .header .header--menubar ul li {
    margin-right: 27px;
  }
}

@media (min-width: 1200px) {

  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .header .header--menubar .mega-menu .sub-menu.card-columns {
    padding-left: 0;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    orphans: 0;
    widows: 0;
  }

  .menu-bg .row .sub-menu.card-columns ul li {
    display: none !important;
  }

  .header .header--menubar ul li.open .mega-menu {
    width: auto;
  }

  .header .header--menubar ul li.open .mega-menu .menu-bg {
    padding: 30px;
  }

  .header .header--menubar ul li.btn .dropdown a {
    font-size: 1.2rem;
    border: 0;
    display: block;
    text-align: center;
  }

  .header--logo img {
    display: none;
  }

  .header--logo {
    background-image: url(images/lunar-xp-logo-mobile.png);
    background-size: contain;
    max-width: 70px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 25px;

  }
}

/* mobile menu */

.nav-sidenav {
  width: 350px;
  color: #f1f1f1;
  transition: right .3s ease-in-out;
  display: none;
}

.nav-sidenav a {
  color: #f1f1f1;
}

.nav-sidenav.active {
  right: 0;
  top: 0;
  display: block;
}

.pointer {
  cursor: pointer;
}

.z-index-max {
  z-index: 9999;
}

.mw-100 {
  max-width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.position-fixed {
  position: fixed !important;
}

.overflow-auto {
  overflow: auto !important;
}